body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 254, 254);
    color: blue;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid white;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.content {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding-right: 20px;
}
.btn {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background: linear-gradient(to right, rgba(109, 194, 233, 0.92), rgb(40, 132, 230));
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.saved-btn::before {
    content: "\1F4BE";
    margin-right: 8px;
}
.btn:hover {
    background: linear-gradient(to right, #0056b3, #003f7f);
    transform: translateY(-2px);
}
.image-container {
    width: 40%;
    text-align: right;
    margin-right: 100px;
}
.image-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}
.footer {
    margin-top: 20px;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.form-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
